language: php
php:
  - 7.1.x
  - 7.2.x
  - 7.3.x
  - nightly
  - hhvm
  - hhvm-nightly
sudo: false
before_script:
    - curl -s https://getcomposer.org/installer | php
    - php composer.phar install --dev
script: ./vendor/bin/atoum --glob Tests/Units/
matrix:
    allow_failures:
        - php: nightly
        - php: hhvm
        - php: hhvm-nightly
